﻿@model Joongang.Japanese.CMS.Models.Page<Joongang.Japanese.CMS.Models.Article>
@{
    ViewBag.Title = "Article Write";
}

<section class="content">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom">
                <form action="/Article/Index" method="get">
                    <div class="col-md-12 form-inline">
                        <input type="text" id="txtSearchValue" name="search_value" class="form-control" placeholder="검색어" value="@Request["search_value"]" />
                        <button type="submit" class="btn btn-default">검색</button>
                        <a href="/Article/Write" class="btn btn-default pull-right">작성</a>
                    </div>
                </form>
            </div>

            <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                <thead>
                    <tr role="row">
                        <th>기사번호</th>
                        <th>월일</th>
                        <th>시간</th>
                        <th>출처</th>
                        <th>제목</th>
                        <th>번역자</th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Data.Count() > 0)
                    {
                        foreach (var x in Model.Data)
                        {
                            <tr class="odd">
                                <td>@x.aid</td>
                                <td>@x.inputdate</td>
                                <td>@x.inputtime</td>
                                <td>@x.sourcecodeName</td>
                                <td><a href="/Article/Write/?aid=@x.aid">@x.title</a></td>
                                <td>@x.translator</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">등록된 기사가 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row text-center">
                @Html.Pager(Model)
            </div>
        </div>
    </div>
</section>
