﻿@model Joongang.Japanese.CMS.Models.ArticleWrite
@{
    ViewBag.Title = "Article Write";
}

<section class="content">
    <div class="box">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form", enctype = "multipart/form-data", @class = "form-horizontal frmWrite" }))
        {
            <input type="hidden" name="aid" value="@Model.Data.aid" />
            <div class="box-body">
                <div class="form-group">
                    <label for="ddlUsedYn" class="col-sm-2 control-label">기사종류</label>
                    <div class="col-sm-10">
                        <input type="checkbox" id="c_pnews" name="pnews" value="Y" />포토뉴스&nbsp;
                        <input type="checkbox" id="c_mnews" name="mnews" value="Y" />동영상뉴스&nbsp;
                        <input type="radio" id="r_pnews" name="pnews" value="G" />자동차 갤러리&nbsp;
                        *기사번호 : @Model.Data.aid
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtTitle" class="col-sm-2 control-label">기사제목</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtTitle" name="title" placeholder="제목을 입력해 주세요." value="@Model.Data.title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContents" class="col-sm-2 control-label">본 문</label>
                    <div class="col-sm-10">
                        <textarea id="txtContent" rows="15" class="form-control" name="content" placeholder="본문을 입력해 주세요.">@Model.Data.content</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContentsEct" class="col-sm-2 control-label">연관기사링크</label>
                    <div class="col-sm-10">
                        <textarea id="txtContentEtc" rows="5" class="form-control" name="content_etc" placeholder="연관기사링크를 입력해 주세요.">@Model.Data.content_etc</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContentsKor" class="col-sm-2 control-label">원문기사</label>
                    <div class="col-sm-10">
                        <textarea id="txtContentKor" rows="5" class="form-control" name="content_kor" placeholder="원문기사를 입력해 주세요.">@Model.Data.content_kor</textarea>
                    </div>
                </div>
                @*<div class="form-group">
                    <label for="txtWriterName1" class="col-sm-2 control-label">기자</label>
                    <div class="col-sm-1">[기자1] 이름:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" id="txtWriterName1" name="writer_name1" value="" /></div>
                    <div class="col-sm-1">이메일:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="writer_email1" value="" /></div>
                    <div class="col-sm-1">Url:</div>
                    <div class="col-sm-3"><input type="text" class="form-control" name="writer_url1" value="" /></div>
                </div>
                <div class="form-group">
                    <label for="txtWriterName2" class="col-sm-2 control-label"></label>
                    <div class="col-sm-1">[기자2] 이름:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" id="txtWriterName2" name="writer_name2" value="" /></div>
                    <div class="col-sm-1">이메일:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="writer_email2" value="" /></div>
                    <div class="col-sm-1">Url:</div>
                    <div class="col-sm-3"><input type="text" class="form-control" name="writer_url2" value="" /></div>
                </div>
                <div class="form-group">
                    <label for="txtWriterName3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-1">[기자3] 이름:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" id="txtWriterName3" name="writer_name3" value="" /></div>
                    <div class="col-sm-1">이메일:</div>
                    <div class="col-sm-2"><input type="text" class="form-control" name="writer_email3" value="" /></div>
                    <div class="col-sm-1">Url:</div>
                    <div class="col-sm-3"><input type="text" class="form-control" name="writer_url3" value="" /></div>
                </div>*@
                <div class="form-group">
                    <label for="selTranslator" class="col-sm-2 control-label">번역자</label>
                    <div class="col-sm-10">
                        <select name="translator" id="selTranslator">
                            <option value="">--------</option>
                            <option value="今井" @(Model.Data.translator == "今井" ? "selected": "")>今井</option> 
                            <option value="小林" @(Model.Data.translator == "小林" ? "selected": "")>小林</option> 
                            <option value="豊浦" @(Model.Data.translator == "豊浦" ? "selected": "")>豊浦</option> 
                            <option value="濱田" @(Model.Data.translator == "濱田" ? "selected": "")>濱田</option> 
                            <option value="貝森" @(Model.Data.translator == "貝森" ? "selected": "")>貝森</option> 
                            <option value="WAKUI" @(Model.Data.translator == "WAKUI" ? "selected": "")>WAKUI</option> 
                            <option value="南" @(Model.Data.translator == "南" ? "selected": "")>南</option> 
                            <option value="早川" @(Model.Data.translator == "早川" ? "selected": "")>早川</option> 
                            <option value="朴" @(Model.Data.translator == "朴" ? "selected": "")>朴</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">분 류</label>
                    <div class="col-sm-10">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="selSourceCode" class="col-sm-2 control-label">출 처</label>
                    <div class="col-sm-10">
                        <select id="selSourceCode" name="sourcecode"> 
                            <option value="">--------</option> 
                            @foreach(var sc in Model.ArticleSourceCode)
                            {
                                var selected = Model.IsEditMode && (sc.Key == Model.Data.sourcecode) ? "selected" : "";
                                <text>
                                    <option value="@sc.Key" @selected>@sc.Value</option>
                                </text>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">벌크서비스</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">나도한마디</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">이미지</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">동영상 Link</label>
                    <div class="col-sm-10">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContents" class="col-sm-2 control-label">편집용 이미지</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContents" class="col-sm-2 control-label">관련기사10</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="txtContents" class="col-sm-2 control-label">관련기사</label>
                    <div class="col-sm-10">

                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">한국어기사 URL</label>
                    <div class="col-sm-10">
                        
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="reset" class="btn btn-default">취소</button>
                    <button type="submit" class="btn btn-warning">@(Model.IsEditMode ? "수정" : "작성")</button>
                </div>
            </div>
            <!-- /.box-footer -->
        }
    </div>
</section>

