﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0" />
    <title>Joongang Japanese CMS</title>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/bootstrap/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/skin-blue.min.css" rel="stylesheet" />
    @RenderSection("header", false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/Main/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>JAP CMS</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Japanese </b>CMS</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            @*<a href="/?admseq=@admmember.ADM_SEQ" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @{if (admmember != null)
                                    {
                                        <text>@admmember.ADM_NM (Lvl @admmember.AUTH_DIV)</text>
                                    }
                                }
                            </span>
                        </a>*@
                    </li>
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="/AdMem/Logout">
                            <!-- The user image in the navbar-->
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li id="M0100" class="treeview">
                    <a href="#">
                        <i class="fa fa-feed"></i> <span>Article</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="M0101"><a href="/Article"><i class="fa fa-caret-right"></i> Article List</a></li>
                        <li id="M0102"><a href="/Article/Write"><i class="fa fa-caret-right"></i> Article Create</a></li>
                    </ul>
                </li>
 
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @RenderBody()
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright by <a href="http://japanese.joins.com" target="_blank">Copyright by JTBC Content Hub</a> Co.,Ltd.</strong> All Rights Reserved.
    </footer>
</div>
<!-- ./wrapper -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/app.min.js"></script>
@RenderSection("script", false)
<script type="text/javascript">
        var menuCode = '@(string.IsNullOrEmpty(ViewBag.MenuCode) ? string.Empty : ViewBag.MenuCode)';

        if ($.trim(menuCode).length > 0) {
            var groupCode = menuCode.substr(0, 3) + '00';

            if (menuCode !== groupCode)
                $('#' + groupCode + ', #' + menuCode).addClass('active');
            else
                $('#' + menuCode).addClass('active');
        }
</script>
</body>
</html>


