﻿@model IEnumerable<string>
@{
    Layout = "";
}

<form action="/helper/Index" method="post">
    <table border="0" cellpadding="0" cellspacing="0">
        <colgroup>
            <col width="120" />
            <col width="*" />
        </colgroup>
        <tr>
            <th>쿼리문</th>
            <td>
                <textarea name="query" id="query" cols="200" rows="10">@Request["query"]</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <input type="submit" value="전송" style="font-size: 20px;" />
            </td>
        </tr>
    </table>
</form>

@if (Model != null)
{
    foreach (var item in Model)
    {
        @Html.Raw(item)<br/>
    }
}

@*<div>
    <form id="frm" name="frm">
        <textarea name="txtEditor" id="txtEditor">&lt;p&gt;Initial editor content.&lt;/p&gt;</textarea>
        <button>test</button>
    </form>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    //<![CDATA[
    CKEDITOR.replace('txtEditor', {
        customConfig: '/Content/ckeditor/config.js?uploadPath=diet'
    });

    $('form#frm').on('submit', function () {
        test();
        return false;
    });
    
    function test() {
        alert(CKEDITOR.instances.txtEditor.getData());
    }
    //]]>
</script>*@